@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  
:root  {
  --background: 58 0% 95%;
  --foreground: 58 0% 0%;
  --card: 58 0% 90%;
  --card-foreground: 58 0% 10%;
  --popover: 58 0% 95%;
  --popover-foreground: 58 95% 0%;
  --primary: 58 100% 78%;
  --primary-foreground: 0 0% 0%;
  --secondary: 58 10% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 20 10% 85%;
  --muted-foreground: 58 0% 35%;
  --accent: 20 10% 80%;
  --accent-foreground: 58 0% 10%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 58 0% 90%;
  --border: 58 20% 50%;
  --input: 58 20% 18%;
  --ring: 58 100% 78%;
  --radius: 0.5rem;
}
.dark  {
  --background: 58 10% 5%;
  --foreground: 58 0% 90%;
  --card: 58 0% 0%;
  --card-foreground: 58 0% 90%;
  --popover: 58 10% 5%;
  --popover-foreground: 58 0% 90%;
  --primary: 58 100% 78%;
  --primary-foreground: 0 0% 0%;
  --secondary: 58 10% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 20 10% 15%;
  --muted-foreground: 58 0% 60%;
  --accent: 20 10% 15%;
  --accent-foreground: 58 0% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 58 0% 90%;
  --border: 58 20% 18%;
  --input: 58 20% 18%;
  --ring: 58 100% 78%;
  --radius: 0.5rem;
}

}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* ========================================== TAILWIND STYLES */
@layer utilities {
  /* ===== UTILITIES */
  .page-container{
    @apply container px-2 lg:px-10 lg:mx-auto pt-12;
  }

  /* ===== CLERK REWRITES */
  .cl-organizationSwitcher-root{
    @apply flex justify-center items-center bg-black;
  }

  .cl-organizationPreviewMainIdentifier .cl-organizationPreviewMainIdentifier__organizationSwitcher{
    @apply text-green-500;
  }

  /* ===== ALIGNMENTS */
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  /* BY ME */
  .svg-color {
    /* filter: invert(.5) */
    @apply brightness-0 dark:brightness-200;
  }
}